
.totalForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    /* background-image: url('../../images/fondos/adventure-05.jpg'); */
    background-image: url('../../images/fondos/fzm-corkboard.texture-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
    position: relative;
    
}



.formContainer{
    margin: auto auto;
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(138, 135, 135, 0.426); */
    /* background-image: url('../../images/fondos/fzm-corkboard.texture-01.jpg'); */
    border-radius: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(24, 24, 23);
}
.noteCont{
    position: absolute;
    top: 190px;
    left: 630px;
}

.noteCont img{
    width: 800px;
    height: 800px;
}

.formDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.formFields{
    z-index: 100;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 100px 370px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 80%;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
}

.title{
    z-index: -10;
    position: absolute;
    left: 600px;
    z-index: 30;
    font-family: 'Rock Salt', cursive;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-weight: bold;
    height: 80px;
    width: 40%;
    border-radius: 15px;
    background-size: cover;
}
.title label{
    margin: 5px auto -50px;
    z-index: 40;
    font-size: 15px;
}

.postTitleBlue{
    z-index: 1;
    width: 100%;
    height: 600px;
    position: absolute;
    top:-260px;
    left: -40px;
}

.name{
    margin: 70px auto 5px;
    font-size: 25px;
}

.formFields input{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    text-align: center;
    background-color: rgba(239, 225, 184, 0);
    border: 2px solid rgba(30, 28, 24, 0.744);
    border-radius: 15px;
}

.formButton{
    padding: 5px 10px;
    width: 100px;
    background-color: #dfc497;
    color: rgb(15, 15, 15);
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 22px;
    margin-top: 20px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

.formButton:active{
    scale: 0.95;
    opacity: 0.95;
}

.dificulty{
    margin-top: 5px;
    font-size: 25px;
}

input[type='range'] {
    overflow: hidden;
    width: 200px;
    -webkit-appearance: none;
    background-color: #9a905d00;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 20px;

    -webkit-appearance: none;
    height: 20px;
    border-radius: 20px;
    background: #383736;
  }

.duration{
    margin-top: 0px;
    font-size: 25px;
}

.season{
    margin-top: 5px;
    font-size: 25px;
}

.countries{
    margin-top: 5px;
    font-size: 25px;
}

.seasonInputs{
    width: 60%;
    margin: -5px auto;
    text-align: left;
}

.box{
    margin: -20px auto;
    width: 80%;
    height: 130px;
    overflow: auto;
    text-align: left;
    padding: 0 5px;
}


.box::-webkit-scrollbar {
    width: 16px;               /* width of the entire scrollbar */
  }
  
  .box::-webkit-scrollbar-track {
    background: rgba(243, 219, 178, 0.984);
    border: 2px solid rgba(237, 175, 104, 0); 
    border-radius: 10px;       /* color of the tracking area */
  }
  
  .box::-webkit-scrollbar-thumb {
    background-color: rgb(241, 217, 173);    /* color of the scroll thumb */
    border-radius: 8px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(236, 191, 124);  /* creates padding around scroll thumb */
  }

.bubble{
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    position: absolute;
    /* background-color: #ef4c4c1a; */
    left: 600px;
    margin-top: -40px ;
    font-size: 20px;
    font-weight:750;
    /* border: 2px solid rgba(205, 15, 15, 0.616); */
    border-radius: 15px;
    color: rgb(44, 1, 1);
}

.noteTitle{
    z-index: -1;
    position: absolute;
    width: 300px;
    height: 300px;
    left: -30px;
    bottom: -125px;
}

