
/* .cardContainer{
    width: 20%;
    height: 400px;
    display: inline-block;
    margin: auto auto;
    margin-top: 45px;
} */


.card{
    margin-top: 15px;
    display:flex;
    flex-direction:column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    height:43vh;
    border-radius:20px;
    background-color: rgba(151, 83, 10, 0.582);
    border: 3.5px solid #2e1804cb;
    transition: 0.3s ease-in-out;
}

.card:hover{
    box-shadow: -1px -1px 16px 4px rgba(227,224,216,0.75);
-webkit-box-shadow: -1px -1px 16px 4px rgba(227,224,216,0.75);
-moz-box-shadow: -1px -1px 16px 4px rgba(227,224,216,0.75);
    scale: 1.05;
    background-color: rgba(228, 224, 218, 0.405);
    /* border: 3.5px solid #ffc002; */
    border: 3.5px solid #020b25b5;
    filter: brightness(1.2);
}

.link{
    color: rgb(0, 0, 0);
    transition: 0.35s ease-in-out;
}

/* .link:hover{
    color: black;
} */

.name{
    width: 90%;
    height: 50px;
    position: absolute;
    top: 55%;
    left: 15px;
    font-size: 11px;
}


.continent{
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 0px;
}

.img{
    margin: 20px auto;
    border-radius: 150px; 
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    border: 3.5px solid #22120494;
    transition: 0.3s ease-in-out;
}

.card:hover img{
    /* scale: 1.1; */
    /* border: 3.5px solid #ffc002; */
    border: 3.5px solid #b1b1b1ed;
}

.card:hover .link{
    color: black;
}

/* .img:hover{
    scale: 1.1;
    border: 3.5px solid #bcbcbc;
} */