.searchContainer{
    margin-left: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(22, 21, 21);
    border: 2px solid rgb(138, 80, 3);
    border-radius: 25px;
    position: relative;
}

.label{
    padding: 5px 5px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    color: rgb(4, 4, 4);
}

.searchContainer input{
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-image: url('../../images/fondos/wood\ 1.jpg');
    /* opacity: 0.7; */
    /* background-color: rgba(254, 254, 254, 0.83); */
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
}

.searchContainer input::placeholder{
    /* color:rgb(7, 7, 7); */
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: rgb(244, 244, 242);
}

.errorMessage{
    position:absolute;
    width: 200px;
    height: 40px;
    left:570px;
    border: 2px solid rgb(77, 4, 4);
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Rock Salt', cursive;
}