
.searchContainer{
    margin-left: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    border: 2px solid rgba(254, 254, 254, 0.423);
    border-radius: 25px;
}

.label{
    padding: 5px 5px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.searchContainer input{
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(254, 254, 254, 0.83);
    color: black;
    font-weight: bold;
}

.searchContainer input::placeholder{
    color:rgba(0, 0, 0, 0.537)
}