

.cardsContainer{
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    margin: auto auto;
    align-items: center;
    width: 90%;
    height:100%;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Rock Salt', cursive;
    font-size: 12px;
}

.filtersAndOrders{
    margin-top: 15px;
    margin-bottom: -50px;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Caveat', cursive;
}

.filtersAndOrders select{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-image: url('../../images/fondos/wood\ 1.jpg');
    /* background-color: rgba(220, 151, 14, 0.766); */
    font-size: 22px;
    font-weight:bold;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: rgb(209, 209, 201);
}

.cards{
    margin-top: 50px;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
}

.pagination{
    margin: 20px auto -10px;
    display: flex;
    align-items: center;
    height: 35px;
    width: 20%;
    padding: 5px;
    justify-content: space-around;
    /* background-color: rgba(130, 74, 6, 0.873); */
    background-image: url('../../images/fondos/wood\ 1.jpg');
    border: 2px solid rgba(183, 147, 100, 0.979);
    border-radius: 15px;
    font-family: 'Caveat', cursive;
}

.pagination button{
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.pagination button:active{
    scale: 0.95;
    opacity: 0.8;
}

.pagination span{
    background-color: rgba(225, 210, 181, 0.823);
    padding: 10px;
    border-radius: 5px;
    color: rgb(47, 26, 2);
    font-size: 21px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

.pagination img{
    width: 35px;
    color: rgb(255, 255, 255);
}