
.NavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    width: 98vw;
    height: 75px;
    background-color: rgba(32, 30, 30, 0.65);
    border: 2px solid rgba(254, 254, 254, 0.717);
    border-radius: 25px;
}

.earth{
    margin-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    width: 300px;
    color: aliceblue;
    font-size: 20px;
/*     border: 2px solid rgba(254, 254, 254, 0.717);
    border-radius: 10px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}


@keyframes myAnim {
			
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(150px);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(0);
    }
    
    40% {
        transform: translateX(0);
    }
}


.henry{
    animation: textAnim 3s linear 4s infinite normal forwards;
}

.earth img{
    width: 45px;
    animation: myAnim 10s linear 4s infinite normal forwards;
}




.buttonsContainer{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-right: 15px;
}

.link {
    padding: 10px 20px;
    background-color: rgba(254, 254, 254, 0.717);
    color: rgb(17, 17, 17);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }